{{- if .is_control_plane }}
global_defs {
    router_id {{ .hostname }}
    enable_script_security
    script_user root
}

vrrp_script chk_haproxy {
    script "/bin/curl -f http://localhost:8404/stats || exit 1"
    interval 2
    weight -2
    fall 3
    rise 2
}

vrrp_instance VI_1 {
    state {{ if eq .hostname "cp-a7f3" }}MASTER{{ else }}BACKUP{{ end }}
    interface {{ .ha.interface }}
    virtual_router_id {{ .ha.router_id }}
    priority {{ if eq .hostname "cp-a7f3" }}110{{ else if eq .hostname "cp-b9e1" }}105{{ else }}100{{ end }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ env "KEEPALIVED_AUTH_PASS" | default "k3s-cluster-auth" }}
    }

    virtual_ipaddress {
        {{ .ha.virtual_ip }}/24 dev {{ .ha.interface }}
    }

    track_script {
        chk_haproxy
    }

    notify_master "/etc/keepalived/scripts/master.sh"
    notify_backup "/etc/keepalived/scripts/backup.sh"
    notify_fault "/etc/keepalived/scripts/fault.sh"
}
{{- end }}