network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: false
      addresses:
        - {{ .data.node_ip }}/24
      routes:
        - to: default
          via: {{ .data.network.gateway }}
      nameservers:
        addresses:
          - {{ .data.network.dns }}
        search:
          - local