{{- if eq .node_type "server" }}
global
    daemon
    user haproxy
    group haproxy
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option dontlognull
    option httplog
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend k3s_api
    bind {{ .network.virtual_ip }}:6443
    mode tcp
    option tcplog
    default_backend k3s_servers

backend k3s_servers
    mode tcp
    balance roundrobin
    option tcp-check
    {{- range $hostname, $config := .nodes }}
    {{- if eq $config.node_type "server" }}
    server {{ $hostname }} {{ $config.ip }}:6443 check port 6443
    {{- end }}
    {{- end }}

# Optional: Stats page
listen stats
    bind {{ .ip }}:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE
{{- end }}
