{{- if .is_bootstrap }}
# This file will be populated by k3s on the bootstrap node
# Copy from /etc/rancher/k3s/k3s.yaml after cluster initialization
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: <CERTIFICATE_DATA>
    server: https://{{ .network.virtual_ip }}:6443
  name: k3s-cluster
contexts:
- context:
    cluster: k3s-cluster
    user: k3s-admin
  name: k3s-cluster
current-context: k3s-cluster
kind: Config
preferences: {}
users:
- name: k3s-admin
  user:
    client-certificate-data: <CLIENT_CERT_DATA>
    client-key-data: <CLIENT_KEY_DATA>
{{- else }}
# Non-bootstrap nodes: Copy kubeconfig from bootstrap node
# scp cp-a7f3:/etc/rancher/k3s/k3s.yaml ~/.kube/config
# Then update server URL to use virtual IP
{{- end }}