{{- $hostname := .chezmoi.hostname -}}
{{- $isControlPlane := or (eq $hostname "cp-a7f3") (eq $hostname "cp-b9e1") (eq $hostname "cp-c4d8") -}}
{{- $isWorker := or (eq $hostname "worker-x1y2") (eq $hostname "worker-z5w9") (eq $hostname "worker-m3n7") -}}
{{- $isBootstrap := eq $hostname "cp-a7f3" -}}
{{- $nodeIps := dict "cp-a7f3" "10.0.1.129" "cp-b9e1" "10.0.1.130" "cp-c4d8" "10.0.1.131" "worker-x1y2" "10.0.1.132" "worker-z5w9" "10.0.1.133" "worker-m3n7" "10.0.1.134" -}}


data:
  # Node identification
  hostname: {{ $hostname | quote }}
  is_control_plane: {{ $isControlPlane }}
  is_worker: {{ $isWorker }}
  is_bootstrap: {{ $isBootstrap }}

  # Node-specific IPs
  node_ips:
    cp-a7f3: "10.0.1.129"
    cp-b9e1: "10.0.1.130"
    cp-c4d8: "10.0.1.131"
    worker-x1y2: "10.0.1.132"
    worker-z5w9: "10.0.1.133"
    worker-m3n7: "10.0.1.134"

  # Current node IP
  node_ip: {{ index $nodeIps $hostname | quote }}

  # Network configuration
  network:
    gateway: "10.0.1.1"
    dns: "10.0.1.1"
    subnet_mask: "255.255.255.0"
    virtual_ip: "10.0.1.128"

  # K3s configuration
  k3s:
    version: "v1.33.4+k3s1"
    cluster_cidr: "10.42.0.0/16"
    service_cidr: "10.43.0.0/16"
    cluster_dns: "10.43.0.10"

  # Cluster configuration
  cluster_name: "chezmoi-l8s"

  # HA configuration for control plane
  ha:
    enabled: {{ $isControlPlane }}
    virtual_ip: "10.0.1.128"
    interface: "eth0"
    router_id: {{ if eq $hostname "cp-a7f3" }}51{{ else if eq $hostname "cp-b9e1" }}52{{ else }}53{{ end }}

destDir: "/"
