127.0.0.1 localhost
::1       localhost ip6-localhost ip6-loopback
ff02::1   ip6-allnodes
ff02::2   ip6-allrouters

# K3s cluster nodes
{{ .network.virtual_ip }} k3s-api k3s-cluster
{{- range $hostname, $config := .nodes }}
{{ $config.ip }} {{ $hostname }}
{{- end }}

# This node
{{ .node_ip }} {{ .hostname }}