127.0.0.1 localhost
::1       localhost ip6-localhost ip6-loopback
ff02::1   ip6-allnodes
ff02::2   ip6-allrouters

# K3s cluster nodes
{{ .data.network.virtual_ip }} k3s-api k3s-cluster
{{ .data.node_ips.cp_a7f3 }} cp-a7f3
{{ .data.node_ips.cp_b9e1 }} cp-b9e1
{{ .data.node_ips.cp_c4d8 }} cp-c4d8
{{ .data.node_ips.worker_x1y2 }} worker-x1y2
{{ .data.node_ips.worker_z5w9 }} worker-z5w9
{{ .data.node_ips.worker_m3n7 }} worker-m3n7

# This node
{{ .data.node_ip }} {{ .data.hostname }}